In [3]:
import requests
import pandas as pd
import datetime as dt
from datetime import timedelta
import subprocess
import json
import os
import re
# import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import dateutil.parser

columns: <br/>
timestamp	count	uniques	day	mo	yr	collection_timestamp yr_mo_day

Example data: <br/>
'timestamp': '2019-10-07T00:00:00Z', 'count': 18, 'uniques': 1

In [11]:
def string_date(month, day, year):
    return year + '-' + month + '-' + day + 'T00:00:00Z'

def generate_14_days(month, day, year):
    start_date = string_date(month, day, year)
    start = dateutil.parser.parse(start_date)
    return [start + timedelta(hours=24*i) for i in range(14)]

def generate_data(start, part1, part2):
    mo, dy, yr = start
    days = generate_14_days(mo, dy, yr)
    ret_arr = []
    for i in range(14):
        ret_arr.append({
            'timestamp': days[i].isoformat()[:10] + 'T00:00:00Z', 
            'count': part1[i],
            'uniques': part2[i]
        })
    return ret_arr

def data_json_maker(kind, count, unique, data):
    return {
        'count': str(count),
        'uniques': str(unique),
        kind: data
    }

def generate_json_file(start, part1, part2, kind, count, unique):
    data = generate_data(start, part1, part2)
    json_format = data_json_maker(kind, count, unique, data)
    yr, mo, dy = start
    file_name = yr + '-' + mo + '-' + dy + '_json.json'
    print(json_format)
    with open(file_name, 'w') as outfile:
        json.dump(json_format, outfile, indent=4)
    return json_format

In [14]:
# generate_data(('07', '27', '2019'), part1_08_08, part2_08_08)
start_date = ('07', '27', '2019')
part1_08_08 = [
    11, 4, 17, 28, 16, 28, 10, 16, 10, 30, 29, 32, 21, 0
]
part2_08_08 = [
    7, 4, 10, 16, 10, 14, 7, 8, 7, 14, 15, 17, 15, 0
]

# August 27th 2019
json_obj_1 = generate_json_file(start_date, part1_08_08, part2_08_08, 
                   'clones', 238, 133)

{'count': '238', 'uniques': '133', 'clones': [{'timestamp': '2019-07-27T00:00:00Z', 'count': 11, 'uniques': 7}, {'timestamp': '2019-07-28T00:00:00Z', 'count': 4, 'uniques': 4}, {'timestamp': '2019-07-29T00:00:00Z', 'count': 17, 'uniques': 10}, {'timestamp': '2019-07-30T00:00:00Z', 'count': 28, 'uniques': 16}, {'timestamp': '2019-07-31T00:00:00Z', 'count': 16, 'uniques': 10}, {'timestamp': '2019-08-01T00:00:00Z', 'count': 28, 'uniques': 14}, {'timestamp': '2019-08-02T00:00:00Z', 'count': 10, 'uniques': 7}, {'timestamp': '2019-08-03T00:00:00Z', 'count': 16, 'uniques': 8}, {'timestamp': '2019-08-04T00:00:00Z', 'count': 10, 'uniques': 7}, {'timestamp': '2019-08-05T00:00:00Z', 'count': 30, 'uniques': 14}, {'timestamp': '2019-08-06T00:00:00Z', 'count': 29, 'uniques': 15}, {'timestamp': '2019-08-07T00:00:00Z', 'count': 32, 'uniques': 17}, {'timestamp': '2019-08-08T00:00:00Z', 'count': 21, 'uniques': 15}, {'timestamp': '2019-08-09T00:00:00Z', 'count': 0, 'uniques': 0}]}

In [15]:
start_date = ('07', '30', '2019')

part1_08_12 = [
    28, 16, 28, 10, 16, 10, 30, 29, 32, 21, 34, 34, 33, 25
]
part2_08_12 = [
    16, 10, 14, 7, 8, 7, 14, 15, 17, 15, 17, 18, 19, 15
]

json_obj_2 = generate_json_file(start_date, part1_08_12, part2_08_12, 'clones', 
                  332, 168)

{'count': '332', 'uniques': '168', 'clones': [{'timestamp': '2019-07-30T00:00:00Z', 'count': 28, 'uniques': 16}, {'timestamp': '2019-07-31T00:00:00Z', 'count': 16, 'uniques': 10}, {'timestamp': '2019-08-01T00:00:00Z', 'count': 28, 'uniques': 14}, {'timestamp': '2019-08-02T00:00:00Z', 'count': 10, 'uniques': 7}, {'timestamp': '2019-08-03T00:00:00Z', 'count': 16, 'uniques': 8}, {'timestamp': '2019-08-04T00:00:00Z', 'count': 10, 'uniques': 7}, {'timestamp': '2019-08-05T00:00:00Z', 'count': 30, 'uniques': 14}, {'timestamp': '2019-08-06T00:00:00Z', 'count': 29, 'uniques': 15}, {'timestamp': '2019-08-07T00:00:00Z', 'count': 32, 'uniques': 17}, {'timestamp': '2019-08-08T00:00:00Z', 'count': 21, 'uniques': 15}, {'timestamp': '2019-08-09T00:00:00Z', 'count': 34, 'uniques': 17}, {'timestamp': '2019-08-10T00:00:00Z', 'count': 34, 'uniques': 18}, {'timestamp': '2019-08-11T00:00:00Z', 'count': 33, 'uniques': 19}, {'timestamp': '2019-08-12T00:00:00Z', 'count': 25, 'uniques': 15}]}

In [16]:
start_date = ('08', '02', '2019')

part1_08_15 = [
    10, 16, 10, 30, 29, 32, 21, 34, 34, 33, 44, 48, 48, 42
]
part2_08_15 = [
    7, 8, 7, 14, 15, 17, 15, 17, 18, 19, 22, 20, 23, 22
]

json_obj_3 = generate_json_file(start_date, part1_08_15, part2_08_15, 'clones', 
                  409, 193)

{'count': '409', 'uniques': '193', 'clones': [{'timestamp': '2019-08-02T00:00:00Z', 'count': 10, 'uniques': 7}, {'timestamp': '2019-08-03T00:00:00Z', 'count': 16, 'uniques': 8}, {'timestamp': '2019-08-04T00:00:00Z', 'count': 10, 'uniques': 7}, {'timestamp': '2019-08-05T00:00:00Z', 'count': 30, 'uniques': 14}, {'timestamp': '2019-08-06T00:00:00Z', 'count': 29, 'uniques': 15}, {'timestamp': '2019-08-07T00:00:00Z', 'count': 32, 'uniques': 17}, {'timestamp': '2019-08-08T00:00:00Z', 'count': 21, 'uniques': 15}, {'timestamp': '2019-08-09T00:00:00Z', 'count': 34, 'uniques': 17}, {'timestamp': '2019-08-10T00:00:00Z', 'count': 34, 'uniques': 18}, {'timestamp': '2019-08-11T00:00:00Z', 'count': 33, 'uniques': 19}, {'timestamp': '2019-08-12T00:00:00Z', 'count': 44, 'uniques': 22}, {'timestamp': '2019-08-13T00:00:00Z', 'count': 48, 'uniques': 20}, {'timestamp': '2019-08-14T00:00:00Z', 'count': 48, 'uniques': 23}, {'timestamp': '2019-08-15T00:00:00Z', 'count': 42, 'uniques': 22}]}

In [28]:
start_date = ('08', '06', '2019')

part1_08_19 = [
    29, 32, 21, 34, 34, 33, 44, 48, 48, 42, 33, 24, 20, 13
]
part2_08_19 = [
    15, 17, 15, 17, 18, 19, 22, 20, 23, 22, 20, 18, 13, 10
]

json_obj_4 = generate_json_file(start_date, part1_08_19, part2_08_19, 'clones', 
                  427, 210)

{'count': '427', 'uniques': '210', 'clones': [{'timestamp': '2019-08-06T00:00:00Z', 'count': 29, 'uniques': 15}, {'timestamp': '2019-08-07T00:00:00Z', 'count': 32, 'uniques': 17}, {'timestamp': '2019-08-08T00:00:00Z', 'count': 21, 'uniques': 15}, {'timestamp': '2019-08-09T00:00:00Z', 'count': 34, 'uniques': 17}, {'timestamp': '2019-08-10T00:00:00Z', 'count': 34, 'uniques': 18}, {'timestamp': '2019-08-11T00:00:00Z', 'count': 33, 'uniques': 19}, {'timestamp': '2019-08-12T00:00:00Z', 'count': 44, 'uniques': 22}, {'timestamp': '2019-08-13T00:00:00Z', 'count': 48, 'uniques': 20}, {'timestamp': '2019-08-14T00:00:00Z', 'count': 48, 'uniques': 23}, {'timestamp': '2019-08-15T00:00:00Z', 'count': 42, 'uniques': 22}, {'timestamp': '2019-08-16T00:00:00Z', 'count': 33, 'uniques': 20}, {'timestamp': '2019-08-17T00:00:00Z', 'count': 24, 'uniques': 18}, {'timestamp': '2019-08-18T00:00:00Z', 'count': 20, 'uniques': 13}, {'timestamp': '2019-08-19T00:00:00Z', 'count': 13, 'uniques': 10}]}

In [29]:
pd1 = pd.DataFrame(json_obj_1['clones'])
pd2 = pd.DataFrame(json_obj_2['clones'])
pd3 = pd.DataFrame(json_obj_3['clones'])
pd4 = pd.DataFrame(json_obj_4['clones'])
pd_main = pd1.append(pd2).append(pd3).append(pd4).groupby('timestamp').max().reset_index()

In [30]:
pd_main

               timestamp  count  uniques
0   2019-07-27T00:00:00Z     11        7
1   2019-07-28T00:00:00Z      4        4
2   2019-07-29T00:00:00Z     17       10
3   2019-07-30T00:00:00Z     28       16
4   2019-07-31T00:00:00Z     16       10
5   2019-08-01T00:00:00Z     28       14
6   2019-08-02T00:00:00Z     10        7
7   2019-08-03T00:00:00Z     16        8
8   2019-08-04T00:00:00Z     10        7
9   2019-08-05T00:00:00Z     30       14
10  2019-08-06T00:00:00Z     29       15
11  2019-08-07T00:00:00Z     32       17
12  2019-08-08T00:00:00Z     21       15
13  2019-08-09T00:00:00Z     34       17
14  2019-08-10T00:00:00Z     34       18
15  2019-08-11T00:00:00Z     33       19
16  2019-08-12T00:00:00Z     44       22
17  2019-08-13T00:00:00Z     48       20
18  2019-08-14T00:00:00Z     48       23
19  2019-08-15T00:00:00Z     42       22
20  2019-08-16T00:00:00Z     33       20
21  2019-08-17T00:00:00Z     24       18
22  2019-08-18T00:00:00Z     20       13
23  2019-08-19T00:00:00Z     13       10

In [23]:
# Check
# data = json.loads('07-27-2019_json.json')
# counts = data['count']
# uniques = data['uniques']
# timestamp_data = data['clones']
# df = pd.DataFrame(timestamp_data)
# df

In [24]:
!ls

07-27-2019_json.json  08-02-2019_json.json
07-30-2019_json.json  old_data_constructor.ipynb