In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv('../master_tables/updated_views_2020-01-03_22-54-19.csv')
df2 = pd.read_csv('../master_tables/updated_clones_2020-01-03_22-54-20.csv')
df1.head()

,timestamp,count,uniques,day,mo,yr,collection_timestamp,yr_mo_day
0,2019-07-27T00:00:00Z,80,25,27,7,2019,2019-10-26 23:31:03.990125,2019-07-27
1,2019-07-28T00:00:00Z,80,35,28,7,2019,2019-10-26 23:31:03.990125,2019-07-28
2,2019-07-29T00:00:00Z,170,56,29,7,2019,2019-10-26 23:31:03.990125,2019-07-29
3,2019-07-30T00:00:00Z,260,70,30,7,2019,2019-10-26 23:31:03.990125,2019-07-30
4,2019-07-31T00:00:00Z,270,50,31,7,2019,2019-10-26 23:31:03.990125,2019-07-31

In [4]:
df2.head()

,timestamp,count,uniques,day,mo,yr,collection_timestamp,yr_mo_day
0,2019-07-27T00:00:00Z,11,7,27,7,2019,2019-10-26 23:31:03.990125,2019-07-27
1,2019-07-28T00:00:00Z,4,4,28,7,2019,2019-10-26 23:31:03.990125,2019-07-28
2,2019-07-29T00:00:00Z,17,10,29,7,2019,2019-10-26 23:31:03.990125,2019-07-29
3,2019-07-30T00:00:00Z,28,16,30,7,2019,2019-10-26 23:31:03.990125,2019-07-30
4,2019-07-31T00:00:00Z,16,10,31,7,2019,2019-10-26 23:31:03.990125,2019-07-31

In [5]:
len(df1), len(df2)

(160, 160)

In [8]:
t1 = df1['timestamp'].unique()
len(t1)

160

In [12]:
t2 = df2['timestamp'].unique()

160

In [30]:
df3 = df1.merge(df2, how='outer', left_on='timestamp', right_on='timestamp', suffixes=['_views', '_clones'])
df3 = df3.drop(columns=['mo_views', 'yr_views', 'day_views', 'collection_timestamp_views', 'yr_mo_day_views'])
df3 = df3.rename(columns={'mo_clones': 'mo', 'yr_clones': 'yr', 'day_clones': 'day', 
                         'collection_timestamp_clones': 'collection_timestamp', 'yr_mo_day_clones': 'yr_mo_day'})
df3.head()

,timestamp,count_views,uniques_views,count_clones,uniques_clones,day,mo,yr,collection_timestamp,yr_mo_day
0,2019-07-27T00:00:00Z,80,25,11,7,27,7,2019,2019-10-26 23:31:03.990125,2019-07-27
1,2019-07-28T00:00:00Z,80,35,4,4,28,7,2019,2019-10-26 23:31:03.990125,2019-07-28
2,2019-07-29T00:00:00Z,170,56,17,10,29,7,2019,2019-10-26 23:31:03.990125,2019-07-29
3,2019-07-30T00:00:00Z,260,70,28,16,30,7,2019,2019-10-26 23:31:03.990125,2019-07-30
4,2019-07-31T00:00:00Z,270,50,16,10,31,7,2019,2019-10-26 23:31:03.990125,2019-07-31

In [31]:
df3.to_csv('./updated_views_and_clones_2019-01-04', index=False)