In [23]:
import pandas as pd
import datetime as dt

In [16]:
clones = pd.read_csv('../master_tables/updated_clones_2019-12-06_11-16-30.csv')
views = pd.read_csv('../master_tables/updated_views_2019-12-06_11-16-29.csv')

In [17]:
views.query('mo == 11 and day < 15 and day > 10')

,timestamp,count,uniques,day,mo,yr,collection_timestamp,yr_mo_day
106,2019-11-11T00:00:00Z,425,95,11,11,2019,2019-11-12 15:40:53.786442,2019-11-11
107,2019-11-12T00:00:00Z,263,97,12,11,2019,2019-11-12 15:40:53.786442,2019-11-12
108,2019-11-14T00:00:00Z,7,5,14,11,2019,2019-11-28 13:07:47.015583,2019-11-14

In [18]:
views.loc[views.yr_mo_day == '2019-11-14', 'uniques'] = 100
views.loc[views.yr_mo_day == '2019-11-14', 'count'] = 360

In [19]:
views.query('mo == 11 and day < 15 and day > 10')

,timestamp,count,uniques,day,mo,yr,collection_timestamp,yr_mo_day
106,2019-11-11T00:00:00Z,425,95,11,11,2019,2019-11-12 15:40:53.786442,2019-11-11
107,2019-11-12T00:00:00Z,263,97,12,11,2019,2019-11-12 15:40:53.786442,2019-11-12
108,2019-11-14T00:00:00Z,360,100,14,11,2019,2019-11-28 13:07:47.015583,2019-11-14

In [28]:
clones.query('mo == 11 and day < 16 and day > 10')

,timestamp,count,uniques,day,mo,yr,collection_timestamp,yr_mo_day
106,2019-11-11T00:00:00Z,31,27,11,11,2019,2019-11-12 15:40:54.591320,2019-11-11
107,2019-11-12T00:00:00Z,33,24,12,11,2019,2019-11-12 15:40:54.591320,2019-11-12
108,2019-11-15T00:00:00Z,23,19,15,11,2019,2019-11-28 13:07:47.955742,2019-11-15

In [36]:
insert_row = pd.DataFrame({
    'timestamp': ['2019-11-14T00:00:00Z'],
    'count': 28,
    'uniques': 20,
    'day': 14,
    'mo': 11,
    'yr': 2019,
    'collection_timestamp': '2019-11-28 13:07:47.015583',
    'yr_mo_day': dt.datetime(2019, 11, 14).date()
})
insert_row

,timestamp,count,uniques,day,mo,yr,collection_timestamp,yr_mo_day
0,2019-11-14T00:00:00Z,28,20,14,11,2019,2019-11-28 13:07:47.015583,2019-11-14

In [40]:
copy_clones = clones.append(insert_row).sort_values(by=['yr', 'mo', 'day']).reset_index(drop='index')
copy_clones.query('mo == 11 and day < 16 and day > 10')

,timestamp,count,uniques,day,mo,yr,collection_timestamp,yr_mo_day
106,2019-11-11T00:00:00Z,31,27,11,11,2019,2019-11-12 15:40:54.591320,2019-11-11
107,2019-11-12T00:00:00Z,33,24,12,11,2019,2019-11-12 15:40:54.591320,2019-11-12
108,2019-11-14T00:00:00Z,28,20,14,11,2019,2019-11-28 13:07:47.015583,2019-11-14
109,2019-11-15T00:00:00Z,23,19,15,11,2019,2019-11-28 13:07:47.955742,2019-11-15

In [41]:
copy_clones.shape, clones.shape

((131, 8), (130, 8))

In [42]:
views.shape

(131, 8)

In [44]:
def make_csv(kind, new_master):
    today_dt = dt.datetime.today()
    today = '_'.join(str(today_dt).split(' '))
    today = '-'.join(str(today.split('.')[0]).split(':'))
    file_name = 'updated_' + kind + '_' + today
    csv_string = new_master.to_csv(file_name + '.csv', index=False)

In [45]:
make_csv('clones', copy_clones)
make_csv('views', views)