In [1]:
import requests
import pandas as pd
import datetime as dt
import subprocess
import json
import os

In [6]:
auth = 'fcr3:567dcc3c66df3f6bff362cfc70900ebc805632b0'
url = 'https://api.github.com/repos/movidius/ncappzoo/traffic/clones'

In [7]:
today_dt = dt.datetime.today()
today = '_'.join(str(today_dt).split(' '))
today = '-'.join(str(today.split('.')[0]).split(':'))
folder_name = 'ncappzoo_clones_' + today
file_name = folder_name + '/' + 'ncappzoo_clones_' + today

os.mkdir(folder_name)
test = subprocess.Popen(["curl", "-u", auth, url, ">", file_name], stdout=subprocess.PIPE)
out, err = test.communicate()
decoded_string = out.decode("utf-8").replace("'", '""').replace('\n', '')
data = json.loads(decoded_string)
data

{'count': 337,
 'uniques': 212,
 'clones': [{'timestamp': '2019-09-16T00:00:00Z', 'count': 16, 'uniques': 12},
  {'timestamp': '2019-09-17T00:00:00Z', 'count': 32, 'uniques': 27},
  {'timestamp': '2019-09-18T00:00:00Z', 'count': 21, 'uniques': 15},
  {'timestamp': '2019-09-19T00:00:00Z', 'count': 25, 'uniques': 22},
  {'timestamp': '2019-09-20T00:00:00Z', 'count': 37, 'uniques': 25},
  {'timestamp': '2019-09-21T00:00:00Z', 'count': 28, 'uniques': 21},
  {'timestamp': '2019-09-22T00:00:00Z', 'count': 20, 'uniques': 14},
  {'timestamp': '2019-09-23T00:00:00Z', 'count': 33, 'uniques': 29},
  {'timestamp': '2019-09-24T00:00:00Z', 'count': 33, 'uniques': 20},
  {'timestamp': '2019-09-25T00:00:00Z', 'count': 25, 'uniques': 21},
  {'timestamp': '2019-09-26T00:00:00Z', 'count': 22, 'uniques': 19},
  {'timestamp': '2019-09-27T00:00:00Z', 'count': 14, 'uniques': 13},
  {'timestamp': '2019-09-28T00:00:00Z', 'count': 18, 'uniques': 16},
  {'timestamp': '2019-09-29T00:00:00Z', 'count': 13, 'uniques': 11}]}

In [8]:
counts = data['count']
uniques = data['uniques']
timestamp_data = data['clones']

In [31]:
df = pd.DataFrame(timestamp_data)
df

               timestamp  count  uniques
0   2019-09-16T00:00:00Z     16       12
1   2019-09-17T00:00:00Z     32       27
2   2019-09-18T00:00:00Z     21       15
3   2019-09-19T00:00:00Z     25       22
4   2019-09-20T00:00:00Z     37       25
5   2019-09-21T00:00:00Z     28       21
6   2019-09-22T00:00:00Z     20       14
7   2019-09-23T00:00:00Z     33       29
8   2019-09-24T00:00:00Z     33       20
9   2019-09-25T00:00:00Z     25       21
10  2019-09-26T00:00:00Z     22       19
11  2019-09-27T00:00:00Z     14       13
12  2019-09-28T00:00:00Z     18       16
13  2019-09-29T00:00:00Z     13       11

In [32]:
timestamps = [x.split('T')[0] for x in df['timestamp'].values]
df['day'] = [x.split('-')[2] for x in timestamps]
df['mo'] = [x.split('-')[1] for x in timestamps]
df['yr'] = [x.split('-')[0] for x in timestamps]
df['collection_timestamp'] = [today_dt for x in range(len(timestamps))]
df

,timestamp,count,uniques,day,mo,yr,collection_timestamp
0,2019-09-16T00:00:00Z,16,12,16,09,2019,2019-09-29 10:29:12.892671
1,2019-09-17T00:00:00Z,32,27,17,09,2019,2019-09-29 10:29:12.892671
2,2019-09-18T00:00:00Z,21,15,18,09,2019,2019-09-29 10:29:12.892671
3,2019-09-19T00:00:00Z,25,22,19,09,2019,2019-09-29 10:29:12.892671
4,2019-09-20T00:00:00Z,37,25,20,09,2019,2019-09-29 10:29:12.892671
5,2019-09-21T00:00:00Z,28,21,21,09,2019,2019-09-29 10:29:12.892671
6,2019-09-22T00:00:00Z,20,14,22,09,2019,2019-09-29 10:29:12.892671
7,2019-09-23T00:00:00Z,33,29,23,09,2019,2019-09-29 10:29:12.892671
8,2019-09-24T00:00:00Z,33,20,24,09,2019,2019-09-29 10:29:12.892671
9,2019-09-25T00:00:00Z,25,21,25,09,2019,2019-09-29 10:29:12.892671
10,2019-09-26T00:00:00Z,22,19,26,09,2019,2019-09-29 10:29:12.892671
11,2019-09-27T00:00:00Z,14,13,27,09,2019,2019-09-29 10:29:12.892671
12,2019-09-28T00:00:00Z,18,16,28,09,2019,2019-09-29 10:29:12.892671
13,2019-09-29T00:00:00Z,13,11,29,09,2019,2019-09-29 10:29:12.892671

In [33]:
json_string = json.dumps(data, indent=4, sort_keys=True)
f = open(file_name + '.json', 'a')
f.write(json_string)
f.close()
csv_string = df.to_csv(file_name + '.csv', index=False)

In [8]:
file1 = 'master_tables/master_views_table.csv'
old_master = pd.read_csv(file1)
old_master

,timestamp,collection_timestamp,count,day,mo,uniques,yr
0,2019-09-15T00:00:00Z,2019-09-29 10:06:32.933523,75,15,9,12,2019
1,2019-09-16T00:00:00Z,2019-09-29 10:06:32.933523,354,16,9,83,2019
2,2019-09-17T00:00:00Z,2019-09-29 10:06:32.933523,293,17,9,66,2019
3,2019-09-18T00:00:00Z,2019-09-29 10:06:32.933523,280,18,9,60,2019
4,2019-09-19T00:00:00Z,2019-09-29 10:06:32.933523,410,19,9,66,2019
5,2019-09-20T00:00:00Z,2019-09-29 10:06:32.933523,387,20,9,71,2019
6,2019-09-21T00:00:00Z,2019-09-29 10:06:32.933523,213,21,9,43,2019
7,2019-09-22T00:00:00Z,2019-09-29 10:06:32.933523,155,22,9,30,2019
8,2019-09-23T00:00:00Z,2019-09-29 10:06:32.933523,284,23,9,71,2019
9,2019-09-24T00:00:00Z,2019-09-29 10:06:32.933523,467,24,9,79,2019
10,2019-09-25T00:00:00Z,2019-09-29 10:06:32.933523,207,25,9,49,2019
11,2019-09-26T00:00:00Z,2019-09-29 10:06:32.933523,348,26,9,61,2019
12,2019-09-27T00:00:00Z,2019-09-29 10:06:32.933523,320,27,9,79,2019
13,2019-09-28T00:00:00Z,2019-09-29 10:06:32.933523,131,28,9,43,2019
14,2019-09-29T00:00:00Z,2019-09-29 10:06:32.933523,206,29,9,46,2019

In [11]:
new_master = old_master.append(df).groupby('timestamp', sort=True).agg('first')
new_master

,collection_timestamp,count,day,mo,uniques,yr
timestamp,,,,,,
2019-09-15T00:00:00Z,2019-09-29 10:06:32.933523,75,15,9,12,2019
2019-09-16T00:00:00Z,2019-09-29 10:06:32.933523,354,16,9,83,2019
2019-09-17T00:00:00Z,2019-09-29 10:06:32.933523,293,17,9,66,2019
2019-09-18T00:00:00Z,2019-09-29 10:06:32.933523,280,18,9,60,2019
2019-09-19T00:00:00Z,2019-09-29 10:06:32.933523,410,19,9,66,2019
2019-09-20T00:00:00Z,2019-09-29 10:06:32.933523,387,20,9,71,2019
2019-09-21T00:00:00Z,2019-09-29 10:06:32.933523,213,21,9,43,2019
2019-09-22T00:00:00Z,2019-09-29 10:06:32.933523,155,22,9,30,2019
2019-09-23T00:00:00Z,2019-09-29 10:06:32.933523,284,23,9,71,2019
2019-09-24T00:00:00Z,2019-09-29 10:06:32.933523,467,24,9,79,2019
2019-09-25T00:00:00Z,2019-09-29 10:06:32.933523,207,25,9,49,2019
2019-09-26T00:00:00Z,2019-09-29 10:06:32.933523,348,26,9,61,2019
2019-09-27T00:00:00Z,2019-09-29 10:06:32.933523,320,27,9,79,2019
2019-09-28T00:00:00Z,2019-09-29 10:06:32.933523,131,28,9,43,2019
2019-09-29T00:00:00Z,2019-09-29 10:06:32.933523,206,29,9,46,2019

In [12]:
master_csv_name = 'master_tables/master_views_table'
csv_string = df.reset_index().to_csv(master_csv_name + '.csv', index=False)

In [35]:
master_views_summary_dict = [{'collection_timestamp': str(today_dt), 'counts': counts, 'uniques': uniques}]
master_views_summary_df = pd.DataFrame(master_views_summary_dict)
master_csv_summary_name = 'master_tables/master_clones_summary'
csv_string = master_views_summary_df.to_csv(master_csv_summary_name + '.csv', index=False)

In [21]:
today_dt

datetime.datetime(2019, 9, 29, 10, 14, 33, 792382)

In [10]:
old_master_sum = pd.read_csv('master_tables/master_clones_summary.csv')
old_master_sum

         collection_timestamp  counts  uniques
0  2019-09-29 10:29:12.892671     337      212

In [13]:
new_master_sum_dict = [{'collection_timestamp': str(today_dt), 'counts': counts, 'uniques': uniques}]
new_master_sum = pd.DataFrame(new_master_sum_dict)
new_master_sum

         collection_timestamp  counts  uniques
0  2019-09-29 12:34:50.117068     337      212

In [14]:
new_master_sum = old_master_sum.append(new_master_sum)
new_master_sum = new_master_sum.groupby('collection_timestamp', sort=True).agg('first')
new_master_sum

                            counts  uniques
collection_timestamp
2019-09-29 10:29:12.892671     337      212
2019-09-29 12:34:50.117068     337      212