In [19]:
import requests
import pandas as pd
import datetime as dt
import subprocess
import json
import os
import re
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import dateutil.parser

In [76]:
today = dt.datetime.today()
today

datetime.datetime(2019, 10, 26, 23, 31, 3, 990125)

# Views

In [82]:
# Views
pd_views = pd.read_csv('old_views.csv')
pd_ref_views = pd.read_csv('../temp/updated_views_2019-10-25_17-54-54.csv')

timestamp	count	uniques	day	mo	yr	collection_timestamp	yr_mo_day

In [83]:
pd_views['collection_timestamp'] = [str(today) for x in range(len(pd_views))]
timestamps = [dateutil.parser.parse(d) for d in pd_views['timestamp'].values]
timestamps_sep = [(d.day, d.month, d.year) for d in timestamps]
col_arr = ['day', 'mo', 'yr']
for i in range(3):
    pd_views[col_arr[i]] = [t[i] for t in timestamps_sep]
pd_views['yr_mo_day'] = [str(t.date()) for t in timestamps]
pd_views = pd_views[pd_ref_views.columns.values]

In [85]:
pd_new_views = pd_views.append(pd_ref_views).groupby('timestamp').max().reset_index()
pd_new_views.head()

,timestamp,count,uniques,day,mo,yr,collection_timestamp,yr_mo_day
0,2019-07-27T00:00:00Z,80,25,27,7,2019,2019-10-26 23:31:03.990125,2019-07-27
1,2019-07-28T00:00:00Z,80,35,28,7,2019,2019-10-26 23:31:03.990125,2019-07-28
2,2019-07-29T00:00:00Z,170,56,29,7,2019,2019-10-26 23:31:03.990125,2019-07-29
3,2019-07-30T00:00:00Z,260,70,30,7,2019,2019-10-26 23:31:03.990125,2019-07-30
4,2019-07-31T00:00:00Z,270,50,31,7,2019,2019-10-26 23:31:03.990125,2019-07-31

# Clones

In [86]:
pd_clones = pd.read_csv('clones/old_clones.csv')
pd_ref_clones = pd.read_csv('../temp/updated_clones_2019-10-25_17-54-54.csv')

In [87]:
pd_clones['collection_timestamp'] = [str(today) for x in range(len(pd_views))]
timestamps = [dateutil.parser.parse(d) for d in pd_views['timestamp'].values]
timestamps_sep = [(d.day, d.month, d.year) for d in timestamps]
col_arr = ['day', 'mo', 'yr']
for i in range(3):
    pd_clones[col_arr[i]] = [t[i] for t in timestamps_sep]
pd_clones['yr_mo_day'] = [str(t.date()) for t in timestamps]
pd_clones = pd_clones[pd_ref_clones.columns.values]

In [88]:
pd_new_clones = pd_clones.append(pd_ref_clones).groupby('timestamp').max().reset_index()
pd_new_clones.head()

,timestamp,count,uniques,day,mo,yr,collection_timestamp,yr_mo_day
0,2019-07-27T00:00:00Z,11,7,27,7,2019,2019-10-26 23:31:03.990125,2019-07-27
1,2019-07-28T00:00:00Z,4,4,28,7,2019,2019-10-26 23:31:03.990125,2019-07-28
2,2019-07-29T00:00:00Z,17,10,29,7,2019,2019-10-26 23:31:03.990125,2019-07-29
3,2019-07-30T00:00:00Z,28,16,30,7,2019,2019-10-26 23:31:03.990125,2019-07-30
4,2019-07-31T00:00:00Z,16,10,31,7,2019,2019-10-26 23:31:03.990125,2019-07-31

In [89]:
len(pd_new_clones), len(pd_new_views)

(91, 91)

In [90]:
pd_new_clones.to_csv('ref_clones_' + str(today.date()) + '.csv', index=False)

In [91]:
pd_new_views.to_csv('ref_views_' + str(today.date()) + '.csv', index=False)